.mapContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.mapParent {
  position: relative;
}

.title {
  color: #1dcead;
}

.devTitle {
  color: #a076a0;
}

.mapboxgl-popup-content {
  background-color: #22222295;
  color: #1dcead;
  text-align: center;
  border-radius: 15px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  max-width: 400px;
}

.Container {
  padding: 10px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}

.mapboxgl-popup-tip {
  border-top-color: #22222295 !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #22222295 !important;
}

.imgBox {
  max-width: 40%;
  display: flex;
  align-items: center;
}

.imgBox img {
  max-width: 100%;
}

.header {
  color: #1dcead;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #22222295;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
