.mapContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.mapParent {
  position: relative;
}

.title {
  color: #1dcead;
  font-size: 20px;
}

.devTitle {
  color: #a076a0;
  font-size: 20px;
}

.mapboxgl-popup-content {
  background-color: #22222295;
  color: #1dcead;
  text-align: center;
  border-radius: 15px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  max-width: 800px;
  width: 100%;
}

.Container {
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
}

.mapboxgl-popup-tip {
  border-top-color: #22222295 !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #22222295 !important;
}

.imgBox {
  max-width: 40%;
  display: flex;
  align-items: center;
  padding: 0 0 20px 0;
  position: relative;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 14px;
}

.imgBox img {
  max-width: 100%;
  max-height: 20vw;
}

.date {
  text-align: center;
  margin-bottom: 10px;
}

.date span {
  display: inline-block;
  border-radius: 1em;
  border: 1px solid #1dcead;
  padding: 1px 10px;
  background: rgba(0, 0, 0, 0.4);
  font-weight: normal;
}

.header {
  color: #1dcead;
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #22222295;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.mapboxgl-ctrl-top-left {
  margin-top: 50px;
}

.more {
  background: #464848;
  border-radius: 2px;
  color: #1dcead;
  font-weight: 700;
  display: inline-block;
  border: 0;
  font-size: 14px;
  min-width: 120px;
  text-align: center;
  cursor: pointer;
  padding: 8px 0 8px 0;
  font-family: "Titillium Web", sans-serif;
}
