body,
#root,
.App {
  width: 100vw;
  height: 100vh;
  font-family: "Titillium Web", sans-serif;
}

.gm-iv-address,
.gmnoprint,
.mapboxgl-ctrl-top-left {
  display: none !important;
}

.perm-legend {
  position: fixed;
  bottom: 1em;
  left: 1em;
  padding: 1em;
  background: black;
  z-index: 10;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}
