body,
#root,
.App {
  width: 100vw;
  height: 100vh;
  font-family: "Titillium Web", sans-serif;
}

.gm-iv-address,
.gmnoprint,
.mapboxgl-ctrl-top-left {
  display: none !important;
}

.perm-legend {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 1em;
  background: black;
  z-index: 10;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}

.legend-bar {
  border-radius: 2px;
  height: 5px;
  width: 100%;
  display: block;
  background: linear-gradient(to right, #f7bb04 0%, #00d8b0 100%);
  position: relative;
  margin-bottom: 30px;
}

.legend-bar::before {
  content: "1863";
  position: absolute;
  left: 0;
  top: 10px;
}

.legend-bar::after {
  content: "1980";
  position: absolute;
  right: 0;
  top: 10px;
}
